<%= form_with(model: product) do |form| %>
   <div>
    <%= form.label :title, class:'form-label'%>
    <%= form.text_field :title, class:'form-control'%>
    <%= errors_for product, :title %>
  </div>

  <div>
    <%= form.label :description, class:'form-label' %>
    <%= form.text_area :description, class:'form-control' %>
    <%= errors_for product, :description %>
  </div>

  <div>
    <%= form.submit class:'btn btn-primary' %>
  </div>
<% end %>
