<p style="color: green"><%= notice %></p>
<%= Time.now %>
<h1>Products</h1>
  <%= link_to "New product", new_product_path, class: "btn btn-primary", data: { turbo_frame: "remote_modal" } %>
<div id="products" data-controller="infinite-scroll" data-action="scroll@window->infinite-scroll#scroll">
  <div data-target="infinite-scroll.entries">
    <%= render 'posts' %>
  </div>
  <div class="" data-target="infinite-scroll.pagination">
    <%== pagy_nav(@pagy) %>
  </div>
</div>

<div id='calendar'></div>
<script>

   

    </script>
